version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/ActiveState/json-tools
    steps:
      - checkout
      - run:
          name: Build all code
          command: go build -v ./...
      - run:
          name: Test all code
          command: go test -v ./...
